<form action="/users/create" method="POST">

<label>Name</label>
<br>
<input name="name">

<br>
<label>Id</label>
<br>
<input name="id">

<br>
<label>Password</label>
<br>
<input name="password">


<br>
<button>Submit</button>

</form>