{{#if profilePic}}
    <img src="/images/users/{{user.name}}.jpg">
    <br>
    <form action="/users/upload" method="POST">
        <input type="file" name="pic">
        <br>
        <button>Change Profile Pic</button>
    </form>
{{/if}}

<h1>Hi! {{user.name}}</h1>
<p>Welcome to the express routing. Your user id is {{user.id}}</p>

<br>
<a href="/logout">Logout</a>
<br>
<a href="/users">Users List</a>